#!/bin/bash

{{ if eq .osid "darwin" }}

brew update
brew install \
    zsh \
    pipx \
    pyenv \
    nvim \
    curl \
    zoxide

if [ ! -d /Applications/kitty.app ]; then
    curl -L https://sw.kovidgoyal.net/kitty/installer.sh | sh /dev/stdin
fi

{{ else if eq .osid "linux-ubuntu" }}

sudo apt update
sudo apt install -y \
    zsh \
    pipx \
    curl \
    zoxide

if [ ! -d $HOME/.pyenv ]; then
    curl https://pyenv.run | bash
fi

sudo snap install --beta nvim --classic
sudo snap install bw

if [ $DESKTOP_SESSION ] && [ ! -d $HOME/.local/kitty.app ]; then

    curl -L https://sw.kovidgoyal.net/kitty/installer.sh | sh /dev/stdin

    ln -sf ~/.local/kitty.app/bin/kitty ~/.local/kitty.app/bin/kitten ~/.local/bin/
    cp ~/.local/kitty.app/share/applications/kitty.desktop ~/.local/share/applications/
    cp ~/.local/kitty.app/share/applications/kitty-open.desktop ~/.local/share/applications/
    sed -i "s|Icon=kitty|Icon=/home/$USER/.local/kitty.app/share/icons/hicolor/256x256/apps/kitty.png|g" ~/.local/share/applications/kitty*.desktop
    sed -i "s|Exec=kitty|Exec=/home/$USER/.local/kitty.app/bin/kitty|g" ~/.local/share/applications/kitty*.desktop

fi

{{ end }}


