#!/bin/bash

{{ if eq .osid "darwin" }}

brew update
brew install \
    zsh \
    pipx \
    pyenv \
    nvim \
    curl \
    zoxide \
    bitwarden-cli

if [ ! -d /Applications/kitty.app ]; then
    curl -L https://sw.kovidgoyal.net/kitty/installer.sh | sh /dev/stdin
fi

{{ else if eq .osid "linux-ubuntu" }}

sudo apt update
sudo apt install -y \
    zsh \
    pipx \
    curl \
    zoxide

if [ ! -d $HOME/.pyenv ]; then
    curl https://pyenv.run | bash
fi

sudo snap install --beta nvim --classic
sudo snap install bw

if [ $DESKTOP_SESSION ] && [ ! -d $HOME/.local/kitty.app ]; then

    curl -L https://sw.kovidgoyal.net/kitty/installer.sh | sh /dev/stdin

    # Create symbolic links to add kitty and kitten to PATH (assuming ~/.local/bin is in
    # your system-wide PATH)
    ln -sf ~/.local/kitty.app/bin/kitty ~/.local/kitty.app/bin/kitten ~/.local/bin/
    # Place the kitty.desktop file somewhere it can be found by the OS
    cp ~/.local/kitty.app/share/applications/kitty.desktop ~/.local/share/applications/
    # If you want to open text files and images in kitty via your file manager also add the kitty-open.desktop file
    cp ~/.local/kitty.app/share/applications/kitty-open.desktop ~/.local/share/applications/
    # Update the paths to the kitty and its icon in the kitty.desktop file(s)
    sed -i "s|Icon=kitty|Icon=/home/$USER/.local/kitty.app/share/icons/hicolor/256x256/apps/kitty.png|g" ~/.local/share/applications/kitty*.desktop
    sed -i "s|Exec=kitty|Exec=/home/$USER/.local/kitty.app/bin/kitty|g" ~/.local/share/applications/kitty*.desktop

fi

{{ end }}

